* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container{
  display:grid;
  grid-template-columns: 256px repeat(4 ,1fr); 
  grid-template-rows: 60px repeat( 4, 1fr); 
  column-gap:36px;
  row-gap: 35px;
  grid-template-areas:
  "sidebar header header header header"
  "sidebar content   content   deals_Chart deals_Chart"
  "sidebar content   content   deals_Chart deals_Chart"
  "sidebar content   content   tasks_Graphic tasks_Graphic"
  "sidebar content   content   tasks_Graphic tasks_Graphic";
  background-color: grey;
}

.header , .sideba ,span{
  display: flex;
}

.header , span {
  flex-direction: row;
}

.sidebar{
  flex-direction: column;
}

.sidebar {
  grid-area: sidebar;
  background-color:red;
 
}
  
.header{
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  padding: 20px 36px;
  margin-left:-36px;
  background-color: lime;
  
  
}
.content{
  grid-area: content;
  background-color:blue;
  
}

.deals_Chart ,.tasks_Graphic{
  margin-right: 38px;
}

.content , .tasks_Graphic{
  margin-bottom:36px;
}
.deals_Chart{
  grid-area: deals_Chart;
  border: 5px black solid;
}

.tasks_Graphic{
  grid-area:tasks_Graphic;
  border: 5px black solid;

}

ul {
  display: flex;
  flex-direction: row;
  list-style:none;
}

img{
  width: 20px;
}
@media (max-width: 375px){

  ul , sidebar {
    display:none
  }
}